<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>CRM Admin</title>
<!-- plugins:css -->
<link rel="stylesheet" href="vendors/feather/feather.css">
<link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" href="vendors/css/vendor.bundle.base.css">
<!-- endinject -->
<!-- Plugin css for this page -->
<link rel="stylesheet"
	href="vendors/datatables.net-bs4/dataTables.bootstrap4.css">
<link rel="stylesheet" href="vendors/ti-icons/css/themify-icons.css">
<link rel="stylesheet" type="text/css"
	href="js/select.dataTables.min.css">
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="css/vertical-layout-light/style.css">
<!-- endinject -->
<link rel="shortcut icon" href="images/favicon.png" />
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
	integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
	crossorigin="anonymous"></script>
<style>
        /* Custom CSS for active tab */
        .nav-tabs .nav-link.active {
            background-color: #4B49AC;
            color: white;
        }
    </style>
</head>
<body>
	<div class="container-scroller">
		<!-- partial:partials/_navbar.html -->
		<nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div
				class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
				<a class="navbar-brand brand-logo mr-5" href="/app"><img
					src="images/dash-logo.png" style="height: 54px;" class="mr-2"
					alt="logo"> </a> <a class="navbar-brand brand-logo-mini"
					href="/app"><img src="images/dash-logo.png" alt="logo" /></a>
			</div>
			<div
				class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
				<button class="navbar-toggler navbar-toggler align-self-center"
					type="button" data-toggle="minimize">
					<span class="icon-menu"></span>
				</button>
				<ul class="navbar-nav mr-lg-2">
					<li class="nav-item nav-search d-none d-lg-block"><input
						type="hidden" id="supplierId" th:value="${supplierId}"></li>
				</ul>
				<ul class="navbar-nav navbar-nav-right">

					<a class="dropdown-item" style="margin-top: 15px" href="/logout">
						<i class="ti-power-off text-primary"></i> Logout
					</a>


				</ul>
				<button
					class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
					type="button" data-toggle="offcanvas">
					<span class="icon-menu"></span>
				</button>
			</div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:partials/_settings-panel.html -->


			<!-- partial -->
			<!-- partial:partials/_sidebar.html -->
			<nav class="sidebar sidebar-offcanvas" id="sidebar">
				<ul class="nav">
					<li class="nav-item active"><a class="nav-link" href="/app">
							<i class="icon-grid menu-icon"></i> <span class="menu-title">Update
								Contact</span>
					</a></li>

				</ul>
			</nav>
			<!-- partial -->
			<div class="main-panel">

				<ul class="nav nav-tabs" id="categoryTabs" role="tablist">
					<li class="nav-item"><a class="nav-link active"
						id="general-tab" data-toggle="tab" href="#general" role="tab"
						aria-controls="general" aria-selected="true">General Category</a>
					</li>
					<li class="nav-item"><a class="nav-link" id="medical-tab"
						data-toggle="tab" href="#medical" role="tab"
						aria-controls="medical" aria-selected="false">Medical Category</a>
					</li>
				</ul>
				<div class="tab-content" id="myTabContent">
				
				<!-- General -->
		    		<div class="content-wrapper tab-pane show active" id="general" role="tabpanel" aria-labelledby="general-tab">
						<div class="row">
							<div class="col-md-12">
								<h3>Category List</h3>
								<table id="GeneralproductTable"
									class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>ID</th>
											<th>Category</th>
											<th>Contact Details (Save after contact details are
												entered)</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
					
					<!-- Medical -->
						<div class="content-wrapper tab-pane" id="medical" role="tabpanel" aria-labelledby="tabpanel-tab">
						<div class="row">
							<div class="col-md-12">
								<h3>Category List</h3>
								<table id="productTable"
									class="table table-bordered table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>ID</th>
											<th>Category</th>
											<th>Contact Details (Save after contact details are
												entered)</th>
										</tr>
									</thead>
									<tbody></tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<!-- content-wrapper ends -->
				<!-- partial:partials/_footer.html -->
				<footer class="footer">
					<div
						class="d-sm-flex justify-content-center justify-content-sm-between">
						<span
							class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright
							2024. All rights reserved.</span>

					</div>
					<div
						class="d-sm-flex justify-content-center justify-content-sm-between">
						<span
							class="text-muted text-center text-sm-left d-block d-sm-inline-block">Developed
							by <a href="https://www.linkedin.com/in/fuhad-ali/"
							target="_blank">Fuhad </a>
						</span>
					</div>
				</footer>
				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->

	<!-- plugins:js -->
	<script src="vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<script src="vendors/datatables.net/jquery.dataTables.js"></script>
	<script src="vendors/datatables.net-bs4/dataTables.bootstrap4.js"></script>
	<script src="js/dataTables.select.min.js"></script>
	<script type="text/javascript" src="js/04app.js"></script>

	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="js/off-canvas.js"></script>
	<script src="js/hoverable-collapse.js"></script>
	<script src="js/template.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page-->
	<script src="js/dashboard.js"></script>
	<!-- End custom js for this page-->
</body>

</html>

